.loader {
  border: 8px solid #d0d0d0;
  border-radius: 50%;
  border-top: 8px solid #eeeeee;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logout-btn {
  float: right;
}

.cards {
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
img.card-image {
  width: 100%;
  height: 80%;
}
.title {
  font-family: fantasy;
  font-size: larger;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.tag-name {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2px 8px 4px 10px;
  word-break: break-word;
}
.tag-author {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2px 8px 4px 10px;
  word-break: break-word;
}
.tags {
  display: flex;
  cursor: pointer;
  flex-flow: row wrap;
}
.articles {
  word-wrap: break-word;
}
